body {
    background-color: var(--color-background-container-content-sgemmm, #fff);
    font-family: Amazon Ember, Helvetica, Arial, sans-serif;
    word-wrap: break-word;
    flex-grow: 1;
    padding: 15px 90px
}

#breadcrumbs,
#main-col-footer,
#page-toc-src {
    display: none
}

#main-content {
    background-color: var(--color-background-container-content-sgemmm, #fff);
    color: var(--color-text-body-default-ffdwgg, #16191f)
}

b,
strong {
    color: var(--color-text-heading-default-tsgvby, #16191f)
}

.guilabel,
.topcom {
    font-weight: 700
}

p code:not(.hljs) {
    background-color: var(--color-background-layout-main-td853a, #f2f3f3);
    border-radius: 2px;
    padding: 0 3px
}

code,
p code:not(.hljs) {
    font-family: Monaco, Menlo, Consolas, Courier Prime, Courier, Courier New, monospace
}

code.replaceable {
    color: var(--color-text-status-error-ofc4yr, #d13212);
    font-style: italic
}

code.userinput {
    font-weight: 700
}

pre.screen {
    padding: 16px
}

.awsdocs-page-header-container {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 20px
}

.awsdocs-note {
    margin: 16px 0;
    padding: 15px 20px
}

.awsdocs-note .awsdocs-note-title {
    display: flex
}

.awsdocs-note .awsdocs-note-title>:first-child {
    padding-right: 10px
}

.awsdocs-note .awsdocs-note-title span {
    color: var(--color-text-heading-default-tsgvby, #16191f);
    font-weight: 700
}

.awsdocs-note .awsdocs-note-title h6 {
    color: var(--color-text-heading-default-tsgvby, #16191f)
}

.awsdocs-note .awsdocs-note-text {
    padding-left: 27px
}

.awsdocs-note .awsdocs-note-icon {
    float: left
}

.awsdocs-note .awsdocs-note-icon+.awsdocs-note-text p:first-child {
    margin-bottom: 0;
    margin-top: 0
}

.awsdocs-note .awsdocs-note-text p {
    margin-top: 5px
}

:not(td)>.awsdocs-note {
    background-color: rgba(241, 250, 255, .8);
    border: 1px solid rgba(0, 115, 187, .35)
}

:not(td)>.awsdocs-note .code {
    background-color: #e3edf3
}

:not(td)>.awsdocs-note .hljs .code {
    background-color: inherit
}

:not(td)>.awsdocs-note.awsdocs-important,
:not(td)>.awsdocs-note.awsdocs-warning {
    background-color: hsla(10, 75%, 97%, .8);
    border: 1px solid rgba(223, 51, 18, .35)
}

:not(td)>.awsdocs-note.awsdocs-important .code,
:not(td)>.awsdocs-note.awsdocs-warning .code {
    background-color: #ede3e0
}

:not(td)>.awsdocs-note.awsdocs-important .hljs .code,
:not(td)>.awsdocs-note.awsdocs-warning .hljs .code {
    background-color: inherit
}

awsui-icon.awsdocs-link-icon {
    padding: 0 0 0 1.5px
}

awsui-icon.awsdocs-link-icon>span {
    transform: scale(.85) translateY(2px)
}

small,
sub,
sup {
    color: var(--color-text-body-secondary-6ysfsn, #545b64);
    font-size: 14px;
    line-height: 21px
}

small awsui-icon.awsdocs-link-icon>span,
sub awsui-icon.awsdocs-link-icon>span,
sup awsui-icon.awsdocs-link-icon>span {
    transform: scale(.85) translateY(2px)
}

.glossdiv,
.highlights,
.itemizedlist,
.orderedlist,
.procedure,
.variablelist {
    margin-bottom: 10px
}

.glossdiv p .title,
.highlights p .title,
.itemizedlist p .title,
.orderedlist p .title,
.procedure p .title,
.variablelist p .title {
    font-size: 1em;
    font-weight: 400;
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: 10px
}

.awsdocs-note .glossdiv,
.awsdocs-note .highlights,
.awsdocs-note .itemizedlist,
.awsdocs-note .orderedlist,
.awsdocs-note .procedure,
.awsdocs-note .variablelist {
    margin-bottom: 0
}

.glossdiv dl dd {
    margin-left: 18.75px
}

dd .highlights,
dd .itemizedlist,
dd .orderedlist,
dd .procedure,
dd .variablelist {
    margin-bottom: 0
}

dd .procedure h6 {
    margin-top: 1em
}

ol,
ul {
    margin: 0;
    padding: 0 0 0 25px
}

ol li .highlights,
ol li .itemizedlist,
ol li .orderedlist,
ol li .procedure,
ol li .variablelist,
ol.highlights,
ol.itemizedlist,
ol.orderedlist,
ol.procedure,
ol.variablelist,
ul li .highlights,
ul li .itemizedlist,
ul li .orderedlist,
ul li .procedure,
ul li .variablelist,
ul.highlights,
ul.itemizedlist,
ul.orderedlist,
ul.procedure,
ul.variablelist {
    margin-bottom: 0
}

ol li,
ul li {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    padding-left: 5px
}

ol li p,
ul li p {
    margin: 5px 0 0
}

awsui-button-dropdown ul,
awsui-select-dropdown ul {
    margin: 0;
    padding: 0
}

li+li,
li+ol,
li+ul,
li>ol,
li>ul,
ol+ol,
ol>li ol,
ol>li ul,
ul+ul,
ul>li ol,
ul>li ul {
    padding-top: 5px
}

ol {
    list-style-type: decimal
}

ol ol {
    list-style-type: lower-alpha
}

ol ol ol {
    list-style-type: lower-roman
}

ol ol ol ol {
    list-style-type: upper-alpha
}

ol ol ol ol ol {
    list-style-type: upper-roman
}

ul {
    list-style-type: disc
}

ul ul {
    list-style-type: circle
}

.variablelist dl {
    margin: 0
}

.variablelist dl dt {
    margin: 0 0 3.125px
}

.variablelist dl dd {
    margin: 0 1em 1em 18.75px
}

.variablelist dl dd .variablelist {
    margin-top: 15px
}

img {
    border: 0 hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

img.aws-docs-img-padding {
    padding: 15px
}

img.aws-docs-img-xs-padding,
table img.aws-docs-img-padding {
    padding: 2px
}

div.mediaobject {
    max-width: 100%
}

div.mediaobject iframe,
div.mediaobject img {
    margin: 15px 0;
    max-width: 100%
}

awsdocs-language-banner>div {
    margin-bottom: 15px
}


.expandableSectionContent,
.tabbedContent {
    background-color: var(--color-background-container-content-sgemmm, #fff);
    color: var(--color-text-body-default-ffdwgg, #16191f);
    font-family: Amazon Ember, Helvetica, Arial, sans-serif;
    font-size: 16px !important;
    line-height: 1.5em
}

.expandableSectionContent .table-container,
.tabbedContent .table-container,
.table-container {
    display: flex;
    flex-flow: row nowrap;
    margin: 20px 0
}

.expandableSectionContent .table-container .table-contents,
.tabbedContent .table-container .table-contents,
.table-container .table-contents {
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid var(--color-border-container-top-9shhmi, #eaeded);
    border-color: var(--color-text-home-header-secondary-w19oie, #d5dbdb);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 28, 36, .3), 1px 1px 1px 0 rgba(0, 28, 36, .15), -1px 1px 1px 0 rgba(0, 28, 36, .15);
    box-shadow: 0 1px 1px 0 rgba(0, 28, 36, .3), 1px 1px 1px 0 rgba(0, 28, 36, .15), -1px 1px 1px 0 rgba(0, 28, 36, .15);
    display: inline-block;
    max-height: 60vh;
    overflow-x: auto;
    overflow-y: auto
}

.expandableSectionContent .table-container .table-contents.disable-scroll,
.tabbedContent .table-container .table-contents.disable-scroll,
.table-container .table-contents.disable-scroll {
    max-height: none
}

.expandableSectionContent .table-container .table-contents table,
.tabbedContent .table-container .table-contents table,
.table-container .table-contents table {
    border: none;
    border-spacing: 0;
    position: relative
}

.expandableSectionContent .table-container .table-contents table td,
.expandableSectionContent .table-container .table-contents table th,
.tabbedContent .table-container .table-contents table td,
.tabbedContent .table-container .table-contents table th,
.table-container .table-contents table td,
.table-container .table-contents table th {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    margin: 0;
    word-break: normal !important
}

.expandableSectionContent .table-container .table-contents table td .awsdocs-note,
.expandableSectionContent .table-container .table-contents table th .awsdocs-note,
.tabbedContent .table-container .table-contents table td .awsdocs-note,
.tabbedContent .table-container .table-contents table th .awsdocs-note,
.table-container .table-contents table td .awsdocs-note,
.table-container .table-contents table th .awsdocs-note {
    margin: 0;
    padding: 0
}

.expandableSectionContent .table-container .table-contents table td .awsdocs-note .awsdocs-note-text,
.expandableSectionContent .table-container .table-contents table th .awsdocs-note .awsdocs-note-text,
.tabbedContent .table-container .table-contents table td .awsdocs-note .awsdocs-note-text,
.tabbedContent .table-container .table-contents table th .awsdocs-note .awsdocs-note-text,
.table-container .table-contents table td .awsdocs-note .awsdocs-note-text,
.table-container .table-contents table th .awsdocs-note .awsdocs-note-text {
    padding: 0
}

.expandableSectionContent .table-container .table-contents table th,
.tabbedContent .table-container .table-contents table th,
.table-container .table-contents table th {
    border-style: solid;
    border-width: 0 1px 1px 0;
    color: var(--color-text-heading-default-tsgvby, #16191f);
    font-weight: 700;
    padding: 1em 20px;
    text-align: left;
    vertical-align: top
}

.expandableSectionContent .table-container .table-contents table th:not(.table-header),
.tabbedContent .table-container .table-contents table th:not(.table-header),
.table-container .table-contents table th:not(.table-header) {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 100
}

.expandableSectionContent .table-container .table-contents table th.table-header,
.tabbedContent .table-container .table-contents table th.table-header,
.table-container .table-contents table th.table-header {
    border-top-width: 0;
    font-size: 1.125em
}

.expandableSectionContent .table-container .table-contents table td,
.tabbedContent .table-container .table-contents table td,
.table-container .table-contents table td {
    border-style: solid;
    border-width: 1px;
    border-left: none;
    border-top: none;
    display: table-cell;
    padding: 4px 20px;
    vertical-align: top
}

.expandableSectionContent .table-container awsui-icon[variant=subtle] svg,
.tabbedContent .table-container awsui-icon[variant=subtle] svg,
.table-container awsui-icon[variant=subtle] svg {
    color: #d2691e
}

.expandableSectionContent .table-container .simplesect table,
.tabbedContent .table-container .simplesect table,
.table-container .simplesect table {
    border-spacing: 0;
    border-width: 0
}

.expandableSectionContent .table-container .simplesect td,
.tabbedContent .table-container .simplesect td,
.table-container .simplesect td {
    border-spacing: 0;
    border-width: 0;
    padding: 0 0 0 5px;
    vertical-align: top
}

.expandableSectionContent .table-container td p:first-child,
.tabbedContent .table-container td p:first-child,
.table-container td p:first-child {
    margin-top: 0
}

.expandableSectionContent .table-container td p:last-child,
.tabbedContent .table-container td p:last-child,
.table-container td p:last-child {
    margin-bottom: 0
}

.expandableSectionContent .table-container td ol,
.expandableSectionContent .table-container td ul,
.tabbedContent .table-container td ol,
.tabbedContent .table-container td ul,
.table-container td ol,
.table-container td ul {
    list-style-position: outside
}

.expandableSectionContent .table-container td ol:first-child,
.expandableSectionContent .table-container td ul:first-child,
.tabbedContent .table-container td ol:first-child,
.tabbedContent .table-container td ul:first-child,
.table-container td ol:first-child,
.table-container td ul:first-child {
    margin-top: 0
}

.expandableSectionContent .table-container .table-container,
.tabbedContent .table-container .table-container,
.table-container .table-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap
}

.expandableSectionContent .table-container awsdocs-table-expander,
.tabbedContent .table-container awsdocs-table-expander,
.table-container awsdocs-table-expander {
    cursor: pointer;
    display: none;
    font-size: 20px
}

.expandableSectionContent .minimized-block,
.tabbedContent .minimized-block,
.minimized-block {
    margin-bottom: 2rem;
    margin-top: 1.6rem
}

.expandableSectionContent .minimized-block .minimized-content,
.tabbedContent .minimized-block .minimized-content,
.minimized-block .minimized-content {
    height: 120px
}

.expandableSectionContent .minimized-block .displayBlock,
.expandableSectionContent .minimized-item .displayBlock,
.tabbedContent .minimized-block .displayBlock,
.tabbedContent .minimized-item .displayBlock,
.minimized-block .displayBlock,
.minimized-item .displayBlock {
    display: block
}

.expandableSectionContent .minimized-block .minimized-content,
.expandableSectionContent .minimized-item .minimized-content,
.tabbedContent .minimized-block .minimized-content,
.tabbedContent .minimized-item .minimized-content,
.minimized-block .minimized-content,
.minimized-item .minimized-content {
    display: block;
    overflow: hidden;
    position: relative;
    transition: height .2s ease
}

.expandableSectionContent .minimized-block .minimized-content p,
.expandableSectionContent .minimized-item .minimized-content p,
.tabbedContent .minimized-block .minimized-content p,
.tabbedContent .minimized-item .minimized-content p,
.minimized-block .minimized-content p,
.minimized-item .minimized-content p {
    margin: 0
}

.expandableSectionContent .minimized-block .show-more-btn>a:first-child,
.expandableSectionContent .minimized-item .show-more-btn>a:first-child,
.tabbedContent .minimized-block .show-more-btn>a:first-child,
.tabbedContent .minimized-item .show-more-btn>a:first-child,
.minimized-block .show-more-btn>a:first-child,
.minimized-item .show-more-btn>a:first-child {
    display: none
}

.expandableSectionContent .minimized-block .minimized-fader,
.expandableSectionContent .minimized-item .minimized-fader,
.tabbedContent .minimized-block .minimized-fader,
.tabbedContent .minimized-item .minimized-fader,
.minimized-block .minimized-fader,
.minimized-item .minimized-fader {
    bottom: 0;
    height: 5rem;
    position: absolute;
    width: 100%
}

.expandableSectionContent .minimized-block .minimized-fader,
.expandableSectionContent p code:not(.hljs) .minimized-item .minimized-fader,
.tabbedContent .minimized-block .minimized-fader,
.tabbedContent p code:not(.hljs) .minimized-item .minimized-fader,
.minimized-block .minimized-fader,
p code:not(.hljs) .minimized-item .minimized-fader {
    background: -webkit-linear-gradient(hsla(0, 0%, 100%, 0), #fff);
    background: linear-gradient(hsla(0, 0%, 100%, 0), #fff)
}

.expandableSectionContent .minimized-item,
.tabbedContent .minimized-item,
.minimized-item {
    display: inline-table
}

.expandableSectionContent .minimized-item .minimized-content,
.tabbedContent .minimized-item .minimized-content,
.minimized-item .minimized-content {
    height: 80px
}

.expandableSectionContent td,
.tabbedContent td,
td {
    border-color: var(--color-text-home-header-secondary-w19oie, #d5dbdb)
}

.expandableSectionContent th,
.tabbedContent th,
th {
    background-color: var(--color-background-container-header-ni4jv3, #fafafa);
    border-color: var(--color-text-home-header-secondary-w19oie, #d5dbdb);
    color: var(--color-text-heading-default-tsgvby, #16191f)
}

.expandableSectionContent a,
.tabbedContent a,
a {
    color: var(--color-text-link-default-hop3gv, #0073bb);
    text-decoration: none
}

.expandableSectionContent a:hover,
.tabbedContent a:hover,
a:hover {
    text-decoration: underline
}

.expandableSectionContent h1,
.expandableSectionContent h2,
.expandableSectionContent h3,
.expandableSectionContent h4,
.expandableSectionContent h5,
.tabbedContent h1,
.tabbedContent h2,
.tabbedContent h3,
.tabbedContent h4,
.tabbedContent h5,
h1,
h2,
h3,
h4,
h5 {
    color: var(--color-text-heading-default-tsgvby, #16191f)
}

.expandableSectionContent h1,
.tabbedContent h1,
h1 {
    font-size: 2.25em;
    font-weight: 300;
    line-height: 1.226em;
    margin-bottom: 10px;
    margin-top: 30px;
    padding: 0
}

.expandableSectionContent h2,
.tabbedContent h2,
h2 {
    border-color: var(--color-background-control-disabled-dsn0t2, #d5dbdb);
    border-top-style: solid;
    border-top-width: 1px;
    font-size: 1.625em;
    font-weight: 600;
    line-height: 1.226em;
    margin-bottom: .75em;
    margin-top: 1em;
    padding: 1em 0 0
}

.expandableSectionContent h3,
.tabbedContent h3,
h3 {
    font-size: 1.375em;
    font-weight: 700;
    line-height: 1.226em;
    margin-bottom: .75em;
    margin-top: 1.25em;
    padding: 0
}

.expandableSectionContent h4,
.tabbedContent h4,
h4 {
    font-size: 1.25em;
    font-weight: 700;
    line-height: 1.267em;
    margin-bottom: .75em;
    margin-top: 1.2em;
    padding: 0
}

.expandableSectionContent h5,
.tabbedContent h5,
h5 {
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1.267em;
    margin-bottom: 1em;
    margin-top: 1.2em;
    padding: 0
}

.expandableSectionContent h6,
.tabbedContent h6,
h6 {
    font-size: 1em;
    margin-block-end: 1em;
    margin-block-start: 1em
}

.expandableSectionContent h6:first-of-type,
.tabbedContent h6:first-of-type,
h6:first-of-type {
    margin-top: 0
}

.expandableSectionContent h6:last-child,
.tabbedContent h6:last-child,
h6:last-child {
    margin-bottom: 0
}

.expandableSectionContent h1>code,
.expandableSectionContent h2>code,
.expandableSectionContent h3>code,
.expandableSectionContent h4>code,
.expandableSectionContent h5>code,
.expandableSectionContent h6>code,
.tabbedContent h1>code,
.tabbedContent h2>code,
.tabbedContent h3>code,
.tabbedContent h4>code,
.tabbedContent h5>code,
.tabbedContent h6>code,
h1>code,
h2>code,
h3>code,
h4>code,
h5>code,
h6>code {
    font-size: 1em
}

.expandableSectionContent dd,
.expandableSectionContent dt,
.expandableSectionContent p,
.expandableSectionContent pre,
.tabbedContent dd,
.tabbedContent dt,
.tabbedContent p,
.tabbedContent pre,
dd,
dt,
p,
pre {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    margin: 1em 0;
    padding: 0
}

.expandableSectionContent p:first-of-type,
.tabbedContent p:first-of-type,
p:first-of-type {
    margin-top: 0
}

.expandableSectionContent p:last-child,
.tabbedContent p:last-child,
p:last-child {
    margin-bottom: 0
}

@media(max-width:688px) {

    .expandableSectionContent,
    .tabbedContent {
        padding: 15px
    }

    .expandableSectionContent [id],
    .tabbedContent [id] {
        scroll-margin-top: 40px
    }
}

.expandableSectionContent awsui-flash>div,
.tabbedContent awsui-flash>div,
awsui-flash>div {
    margin-bottom: 16px
}

.expandableSectionContent awsui-alert>:not(div),
.tabbedContent awsui-alert>:not(div),
awsui-alert>:not(div) {
    display: none
}

.expandableSectionContent awsui-alert>* p,
.tabbedContent awsui-alert>* p,
awsui-alert>* p {
    margin: 0
}

.tabbedContent * {
    background-color: unset;
    font-family: unset
}

pre.programlisting,
pre.screen {
    background-color: #f9f9f9;
    border: 1px solid var(--color-border-divider-default-in8dkg, #eaeded);
    border-radius: 3px;
    overflow: auto;
    position: relative
}

pre>code {
    display: block;
    font-family: Monaco, Menlo, Consolas, Courier Prime, Courier, Courier New, monospace;
    padding: 16px 50px 16px 16px
}

code.userinput {
    color: #794938
}

[name="status-info"] svg {
    vertical-align: baseline;
    position: relative;
    top: 2px;
    fill: var(--color-text-link-default-hop3gv, #0073bb);
}

[name="status-warning"] svg {
    vertical-align: baseline;
    position: relative;
    top: 2px;
    fill: var(--color-text-status-error-ofc4yr, #d13212);
}
